AuthType Basic
AuthName "Please Log in"
C:\Users\MMTUNC\OneDrive - Tilburg University\Desktop\GitHub\muratmtunc.github.io\courses\computer-skills
AuthUserFile "C:/Users/MMTUNC/OneDrive - Tilburg University/Desktop/GitHub/muratmtunc.github.io/courses/computer-skills/.htpasswd"
Require valid-user